.Shop {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(251, 222, 238) 15.6%,
    rgb(206, 201, 226) 80.3%
  );
  margin: 3rem 0;
}
.PetShop-heading {
  text-align: center;
  animation: animate 1.5s linear infinite;
}
@keyframes animate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}
.cards {
  width: 100%;
  height: auto;
}
.card {
  margin: 6%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #d2bcbc;
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
}
.card:hover {
  box-shadow: 10px 30px 18px -8px rgba(0, 0, 0, 0.5);
}
.card_img {
  width: 100%;
  height: 235px;
  object-fit: fill;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card_info {
  background-color: #d2bcbc;
  border-bottom-left-radius: 12px;
  padding: 16px 24px 24px 24px;
}
.Dog_name {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: rgb(93, 14, 14);
  background-color: #d2bcbc;
}
.Dog_breed {
  margin: 5px;
  margin-bottom: 10px;
  background-color: #d2bcbc;
  text-transform: capitalize;
}
.Dog_info {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.btn-modal {
  width: 100%;
  margin: 1rem 0;
  padding: 0.6rem;
  font-weight: 600;
  font-size: 1rem;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in;
  cursor: pointer;
  color: rgb(54, 8, 8);
}

@media (max-width: 768px) {
  .card {
    float: none;
    margin: 5% 5% 15% 15%;
    width: 60%;
  }
}
body.active-modal {
  overflow-y: hidden;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 5rem;
  border-radius: 3px;
  width: auto;
  height: auto;
  background-color: hsl(34, 86%, 88%, 1);
}
.modal-content h2 {
  color: rgb(162, 52, 70);
  margin: 1.5rem;
}
.modal-content p {
  margin: 1.5rem;
}
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  background: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in;
}
.book-modal {
  padding: 1rem 1.4rem;
  background: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in;
  background-color: rgb(78, 78, 141);
  cursor: pointer;
  width: 90%;
  margin: 1.5rem;
}
.close-modal:hover {
  transform: scale(1.05, 1.05);
}
.book-modal:hover {
  transform: scale(1.05, 1.05);
}
@media (max-width: 750px) {
  .modal-content {
    font-size: 0.8rem;
    line-height: 1.2;
    padding: 2rem;
    width: fit-content;
  }
  .book-modal {
    width: auto;
  }
}
